.jumbotron{
	background-color: #ffc107;
	color: black;
	margin-top: 50px;
}
footer{
	padding:10px 10px 0 10px;
	background-color: #ffc107;
	margin-bottom: 0px;
	margin-top: 10px;
}
.item-hotel{
	flex: 1 200px;
	padding: 2px 0px;
	margin-top: 10px;
}
.btn-reserver{
	width: 100%;
	border-radius: 0px;
}
.btn-iconic
{
	padding-right: 10px;
}
.footer-addres-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}